{% set version = "v1" %}
{% set serviceName = electiveCareServiceName %}
{% set pageTitle = "This service has ended" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  {# <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
      <span class="govuk-phase-banner__text"> This is a new service – your
      <a target="_blank" href="#" class="govuk-link"> feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div> #}


  {% include "includes/ec-beta-banner-v1.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>


  </div>


</div>

{% endblock %}
